<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="{{ path('app_profile_index') }}">Ремонт</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-male"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item nav-user">
                    <a class="dropdown-item" href="{{ path('app_auth_logout') }}"><i class="fas fa-power-off mr-2"></i>Выход</a>
                </li>
            </ul>
        </div>
    </nav>
</div>