<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">{{ name_page }}</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_profile_index') }}" class="breadcrumb-link">Домой</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ name_page }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>