<div class="nav-left-sidebar sidebar-dark">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
        <div class="menu-list" style="overflow: hidden; width: auto; height: 100%;">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Меню</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Навигация
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.get('_route') == 'app_profile_index' ? 'active' : '' }}" href="{{ path('app_profile_index') }}">
                                <i class="fas fa-fw fa-user-circle"></i>Профиль <span class="badge badge-success">6</span>
                            </a>
                        </li>
                        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_SELLER')) %}
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.get('_route') == 'app_receipt_receipt' ? 'active' : '' }}" href="{{ path('app_receipt_receipt') }}">
                                <i class="fab fa-fw fa-wpforms"></i>Квитанция <span class="badge badge-success">6</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_REPAIRER')) %}
                            <li class="nav-item">
                                <a class="nav-link {{ app.request.get('_route') == 'app_repairer_repairer' ? 'active' : '' }}" href="{{ path('app_repairer_repairer') }}">
                                    <i class="fas fa-fw fa-gavel"></i>Комната мастера <span class="badge badge-success">6</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.get('_route') == 'app_search_search' ? 'active' : '' }}" href="{{ path('app_search_search') }}">
                                <i class="fas fa-search"></i>Поиск <span class="badge badge-success">6</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.get('_route') == 'app_list_index' ? 'active' : '' }}" href="{{ path('app_list_index') }}">
                                <i class="fas fa-list-ol"></i>Список <span class="badge badge-success">6</span>
                            </a>
                        </li>
                        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                            <li class="nav-item">
                                <a class="nav-link {{ app.request.get('_route') == 'app_repairer_repairer' ? 'active' : '' }}" href="{{ path('app_receiptedit_edit') }}">
                                    <i class="fas fa-magic"></i>Редактор <span class="badge badge-success">6</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                            <li class="nav-item">
                                <a class="nav-link {{ app.request.get('_route') == 'app_statistic_index' ? 'active' : '' }}" href="{{ path('app_statistic_index') }}">
                                    <i class="fas fa-chart-line"></i>Статистика <span class="badge badge-success">6</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                            <li class="nav-item">
                                <a class="nav-link {{ app.request.get('_route') == 'app_administration_index' ? 'active' : '' }}" href="{{ path('app_administration_index') }}">
                                    <i class="fas fa-cogs"></i>Администрирование <span class="badge badge-success">6</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="slimScrollBar"
             style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 417.095px;"
        ></div>
        <div class="slimScrollRail"
             style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"
        ></div>
    </div>
</div>