{% extends 'Admin/base.html.twig' %}

{% block body_class %}page-administration-edit-user{% endblock %}

{% block page_body %}
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card card-edit-user">
                <div class="card-header">
                    <h5><i class="fas fa-male"></i> Редактирование пользователя</h5>
                </div>
                <div class="card-body">
                    {{ form(edit_user_form) }}
                    <ul class="list-group">
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-lg btn-block btn-primary button-edit-user">
                        Сохранить
                    </button>
                    <button type="button"
                            class="btn btn-lg btn-block btn-primary button-loader"
                            disabled="disabled"
                    >
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Загрузка...
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
