{% extends 'Admin/base.html.twig' %}

{% block body_class %}page-administration{% endblock %}

{% block page_body %}
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card card-create-user">
                <div class="card-header">
                    <h5><i class="fas fa-male"></i> Создание новго пользователя</h5>
                </div>
                <div class="card-body">
                    {{ form(create_user_form) }}
                    <ul class="list-group">
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-lg btn-block btn-primary button-create-user">
                        Создать
                    </button>
                    <button type="button"
                            class="btn btn-lg btn-block btn-primary button-loader"
                            disabled="disabled"
                    >
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Загрузка...
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card card-user-list">
                <table id="user_list_table" class="table table-striped dataTable">
                    <thead>
                    <tr>
                        <th>Имя пользователя</th>
                        <th>ФИО</th>
                        <th>Процентная ставка</th>
                        <th>Роль</th>
                        <th>Доступ ограничен</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in user_list %}
                        <tr>
                            <th>{{ user.username }}</th>
                            <th>{{ user.surname }}</th>
                            <th>{{ user.percentRepairer }}</th>
                            <th>{{ user.roles|join('<br>') }}</th>
                            <th>{{ user.active ? 'Нет' : 'Да' }}</th>
                            <th>
                                {% if app.user.id != user.id %}
                                    {% if user.active %}
                                        <button type="button"
                                                class="btn btn-block btn-sm btn-danger button-switch-active-user"
                                                data-callback="{{ path('app_administration_disableuser', {'userId': user.id }) }}"
                                        >
                                            Заблокировать
                                        </button>
                                        <button type="button"
                                                class="btn btn-block btn-sm btn-danger button-loader" disabled="disabled">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Загрузка...
                                        </button>
                                    {% else %}
                                        <button type="button"
                                                class="btn btn-block btn-sm btn-success button-switch-active-user"
                                                data-callback="{{ path('app_administration_activeuser', {'userId': user.id }) }}"
                                        >
                                            Разблокировать
                                        </button>
                                        <button type="button"
                                                class="btn btn-block btn-sm btn-success button-loader" disabled="disabled">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Загрузка...
                                        </button>
                                    {% endif %}
                                {% endif %}
                                <a class="btn btn-block btn-sm btn-primary"
                                   href="{{ path('app_administration_edituserindex', {'userId': user.id }) }}"
                                >
                                    Редактировать
                                </a>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
