<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ремонт</title>
    <meta name="description" content="Система учета ремонтных работ - ИП Кузнецова">
    <meta name="author" content="Evgeniy K">

    <link rel="shortcut icon" href="{{ asset('build/img/icon/favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/img/icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/img/icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/img/icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/img/icon/site.webmanifest') }}">

    <link href="https://fonts.googleapis.com/css?family=Cuprum&display=swap" rel="stylesheet">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: 'Cuprum', sans-serif !important;
        }
    </style>
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
    <div class="dashboard-main-wrapper">
        {% block header %}
            {{ include('Admin/include/header.html.twig') }}
        {% endblock %}

        {% block sidebar %}
            {{ include('Admin/include/sidebar.html.twig') }}
        {% endblock %}

        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                {% block page_header %}
                    {{ include('Admin/include/page_header.html.twig') }}
                {% endblock %}

                {% block flash %}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="alert alert-{{ label }}" role="alert">
                                        {{ message }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}

                {% block page_body %}
                {% endblock %}

                {% block page_footer %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
