{% extends 'Admin/base.html.twig' %}

{% block body_class %}page-edit{% endblock %}

{% block page_body %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(receipt_edit_search_form) }}
                    <h3 class="card-title border-bottom pb-2">Номер квитанции</h3>
                    {{ form_row(receipt_edit_search_form.orderId) }}
                    <button type="submit" class="btn btn-lg btn-block btn-primary button-search">
                        Поискать
                    </button>
                    <button type="button"
                            class="btn btn-lg btn-block btn-primary button-search-loader"
                            disabled="disabled"
                            style="display: none"
                    >
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Загрузка...
                    </button>
                    {{ form_end(receipt_edit_search_form) }}

                    {% if receipt.updatedAt is defined %}
                        <small class="text-muted receipt-ago"
                               data-callback="{{ path('app_receiptedit_receiptago') }}"
                               data-interval="{{ receipt_updated_at_ago_interval }}"
                        >
                            Последние изменение квитанции было <span class="text-ago">{{ receipt.updatedAt|ago }}</span>
                        </small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if receipt_edit_form %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {{ form_start(receipt_edit_form) }}
            <div class="card">
                <h5 class="card-header">Номер квитанции №{{ receipt_order_id }}</h5>
                <div class="card-body">
                    {{ form_row(receipt_edit_form.DeviceOwner.name) }}
                    {{ form_row(receipt_edit_form.DeviceOwner.address) }}
                    {{ form_row(receipt_edit_form.DeviceOwner.phone) }}
                    {{ form_row(receipt_edit_form.DeviceOwner.email) }}
                    {{ form_row(receipt_edit_form.defect) }}
                    {{ form_row(receipt_edit_form.preliminarilyList) }}
                    {{ form_row(receipt_edit_form.deviceCode) }}
                    {{ form_row(receipt_edit_form.devicePreview) }}
                    <div class="form-group">
                        {{ form_label(receipt_edit_form.prePrice) }}
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend"><span class="input-group-text">до</span></div>
                            {{ form_widget(receipt_edit_form.prePrice) }}
                            <div class="input-group-append"><span class="input-group-text">руб.</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                    <div class="section-block">
                        <h3 class="section-title">Устройства</h3>
                        <h4 class="section-title">Первая позиция - устройство с дефектом</h4>
                        <p>Добавьте необходимое колличество устройств, входящих в комплект акта приема/передачи оборудования в ремонт</p>
                    </div>

                    {% set prototype_tab %}
                        <li class="nav-item">
                            <a class="nav-link" id="tab-__name__" data-toggle="tab" href="#{{ receipt_edit_form.DeviceCollection.vars.id }}___name__" role="tab" aria-controls="__name__" aria-selected="false"></a>
                        </li>
                    {% endset %}

                    <div class="tab-vertical tab-device mb-4">
                        <ul class="nav nav-tabs" role="tablist">
                            {% for key, Device in receipt_edit_form.DeviceCollection %}
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-{{ key }}" data-toggle="tab" href="#{{ receipt_edit_form.DeviceCollection.vars.id }}_{{ key }}" role="tab" aria-controls="{{ key }}" aria-selected="false">{{ Device.DeviceType.name.vars.data }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content add-device-collection-widget"
                             data-prototype="{{ form_widget(receipt_edit_form.DeviceCollection.vars.prototype)|e('html_attr') }}"
                             data-widget-counter="{{ receipt_edit_form.DeviceCollection|length }}"
                             data-prototype-tab="{{ prototype_tab|spaceless|e('html_attr') }}"
                        >
                            {% for key, Device in receipt_edit_form.DeviceCollection %}
                                {{ form_widget(Device, { 'attr': { 'id': 'link-' ~ key, 'aria-labelledby': 'tab-' ~ key }} ) }}
                            {% endfor %}
                        </div>
                    </div>

                    {{ form_widget(receipt_edit_form.addDevice) }}
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Информация о проделанной работе</h5>
                <div class="card-body">
                    {{ form_row(receipt_edit_form.receiptStatus) }}
                    {{ form_row(receipt_edit_form.workPerformed) }}
                    {{ form_row(receipt_edit_form.workDescription) }}
                    <div class="form-group">
                        {{ form_label(receipt_edit_form.payRepairer) }}
                        <div class="input-group input-group-sm mb-3">
                            {{ form_widget(receipt_edit_form.payRepairer) }}
                            <div class="input-group-append"><span class="input-group-text">руб.</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(receipt_edit_form.priceRepair) }}
                        <div class="input-group input-group-sm mb-3">
                            {{ form_widget(receipt_edit_form.priceRepair) }}
                            <div class="input-group-append"><span class="input-group-text">руб.</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(receipt_edit_form.priceSparePart) }}
                        <div class="input-group input-group-sm mb-3">
                            {{ form_widget(receipt_edit_form.priceSparePart) }}
                            <div class="input-group-append"><span class="input-group-text">руб.</span></div>
                        </div>
                    </div>

                    {{ form_row(receipt_edit_form.receiptCreatorId) }}
                    {{ form_row(receipt_edit_form.deviceReturnerId) }}
                    {{ form_row(receipt_edit_form.repairerId) }}
                    {{ form_row(receipt_edit_form.repairDate) }}
                </div>
            </div>

            {{ form_widget(receipt_edit_form.save) }}
            <button type="submit" class="btn btn-success btn-lg btn-block button-save-loader" disabled="disabled">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Загрузка...
            </button>

            {{ form_end(receipt_edit_form) }}
        </div>
    </div>
    {% endif %}
{% endblock %}