{% extends 'Admin/base.html.twig' %}

{% block body_class %}page-list{% endblock %}

{% block page_body %}
    <div class="card">
        <h5 class="card-header">Список квитанций</h5>
        <div class="card-body">
            <table id="receipts-all" class="table table-striped dataTable" data-callback="{{ path('app_list_table') }}">
                <thead>
                <tr>
                    <th>Номер договора</th>
                    <th>Дата регистрации</th>
                    <th>Владелец</th>
                    <th>Аппарат</th>
                    <th>Дефект</th>
                    <th>Предварительная стоимость</th>
                    <th>Контакты</th>
                    <th>Проведенные работы</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Номер договора</th>
                    <th>Дата регистрации</th>
                    <th>Владелец</th>
                    <th>Аппарат</th>
                    <th>Дефект</th>
                    <th>Предварительная стоимость</th>
                    <th>Контакты</th>
                    <th>Проведенные работы</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Список ожидающих квитанций</h5>
        <div class="card-body">
            <table id="receipts-wait" class="table table-striped dataTable" data-callback="{{ path('app_list_tablewait') }}">
                <thead>
                <tr>
                    <th>Номер договора</th>
                    <th>Дата регистрации</th>
                    <th>Владелец</th>
                    <th>Аппарат</th>
                    <th>Дефект</th>
                    <th>Предварительная стоимость</th>
                    <th>Контакты</th>
                    <th>Проведенные работы</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Номер договора</th>
                    <th>Дата регистрации</th>
                    <th>Владелец</th>
                    <th>Аппарат</th>
                    <th>Дефект</th>
                    <th>Предварительная стоимость</th>
                    <th>Контакты</th>
                    <th>Проведенные работы</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}