{% extends 'Admin/base.html.twig' %}

{% form_theme form _self %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="splash-container">
        <div class="card">
            <div class="card-header text-center">
                <img class="logo-img" src="{{ asset('build/img/icon-repair.png') }}" height="75" alt="logo">
                <span class="splash-description">Авторизация</span>
            </div>

            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.password) }}
                {{ form_row(form._remember_me) }}
                {{ form_widget(form.save) }}
                <button type="submit" class="btn btn-lg btn-block btn-primary button-login-loader" disabled="disabled">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Загрузка...
                </button>
                {{ form_end(form) }}
            </div>
            <div class="card-footer bg-white p-0 text-center">
                <div class="card-footer-item card-footer-item-bordered">
                    &copy; 2016 - {{ 'now'|date('Y') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}