{% extends 'Admin/base.html.twig' %}

{% block body_class %}page-profile{% endblock %}

{% block page_body %}
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-chart-bar"></i> Прогресс з/п</h5>
                <div class="card-body">
                    <div id="c3chart_stacked"
                         data-repairer-efficiency="{{ repairer_efficiency|json_encode }}"
                         data-repairer-name="{{ repairer_name }}"
                    ></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-database"></i> Подсчет з/п</h5>
                <div class="card-body">
                    <div id="c3chart_donut"
                         data-repairer-pay="{{ repairer_pay|json_encode }}"
                         data-month="{{ current_month }}"
                         data-repairer-pay-total="{{ repairer_pay_total }}"
                    ></div>
                </div>
                <div class="card-footer">
                    <form action="{{ path('app_profile_calculaterepairerpay') }}"
                          method="POST"
                          class="form-c3chart_donut needs-validation"
                          novalidate="novalidate"
                    >
                        <div class="form-row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <input type="text"
                                       class="form-control form-control-lg start-date datepicker-input"
                                       name="start"
                                       value="{{ date('first day of this month')|date('d.m.Y') }}"
                                       readonly="readonly"
                                       placeholder="Начальная дата"
                                       required="required"
                                >
                                <div class="invalid-feedback">Введите дату</div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <input type="text"
                                       class="form-control form-control-lg end-date datepicker-input"
                                       value="{{ date('last day of this month')|date('d.m.Y') }}"
                                       name="end"
                                       readonly="readonly"
                                       placeholder="Конечная дата"
                                       required="required"
                                >
                                <div class="invalid-feedback">Введите дату</div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 text-right">
                                <span class="dashboard-spinner spinner-xs c3chart_donut-loader" style="display: none"></span>
                                <button class="btn btn-space btn-primary" type="submit">Рассчитать</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}