{% extends 'Admin/base.html.twig' %}

{% block body_class %}page-receipt{% endblock %}

{% block page_body %}
    <div class="section-block" id="basicform">
        <h3 class="section-title">Акт приема/передачи оборудования в ремонт</h3>
        <p>Заполните форму для регистрации заявки</p>
    </div>

    {{ form_start(form_receipt) }}
    <div class="card">
        <h5 class="card-header">Номер квитанции №<span class="receipt-number">{{ supposed_number_receipt }}</span></h5>
        <div class="card-body">
            {{ form_row(form_receipt.DeviceOwner.name) }}
            {{ form_row(form_receipt.DeviceOwner.address) }}
            {{ form_row(form_receipt.DeviceOwner.phone) }}
            {{ form_row(form_receipt.DeviceOwner.email) }}
            {{ form_row(form_receipt.DeviceOwner.gender) }}
            {{ form_row(form_receipt.defect) }}
            {{ form_row(form_receipt.preliminarilyList) }}
            {{ form_row(form_receipt.deviceCode) }}
            {{ form_row(form_receipt.devicePreview) }}
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">до</span></div>
                    {{ form_widget(form_receipt.prePrice) }}
                    <div class="input-group-append"><span class="input-group-text">руб.</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
            <div class="section-block">
                <h3 class="section-title">Устройства</h3>
                <h4 class="section-title">Первая позиция - устройство с дефектом</h4>
                <p>Добавьте необходимое колличество устройств, входящих в комплект акта приема/передачи оборудования в ремонт</p>
            </div>

            {% set prototype_tab %}
                <li class="nav-item">
                    <a class="nav-link" id="tab-__name__" data-toggle="tab" href="#{{ form_receipt.DeviceCollection.vars.id }}___name__" role="tab" aria-controls="__name__" aria-selected="false"></a>
                </li>
            {% endset %}

            <div class="tab-vertical tab-device mb-4">
                <ul class="nav nav-tabs" role="tablist">
                    {% for key, Device in form_receipt.DeviceCollection %}
                        <li class="nav-item">
                            <a class="nav-link" id="tab-{{ key }}" data-toggle="tab" href="#{{ form_receipt.DeviceCollection.vars.id }}_{{ key }}" role="tab" aria-controls="{{ key }}" aria-selected="false">{{ Device.DeviceType.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content add-device-collection-widget"
                     data-prototype="{{ form_widget(form_receipt.DeviceCollection.vars.prototype)|e('html_attr') }}"
                     data-widget-counter="{{ form_receipt.DeviceCollection|length }}"
                     data-prototype-tab="{{ prototype_tab|spaceless|e('html_attr') }}"
                >
                    {% for Device in form_receipt.DeviceCollection %}
                        {{ form_row(Device, { 'attr': { 'id': 'link-' ~ key, 'aria-labelledby': 'tab-' ~ key }} ) }}
                    {% endfor %}
                </div>
            </div>

            {{ form_widget(form_receipt.addDevice) }}
            {{ form_widget(form_receipt.save) }}
            <button type="submit" class="btn btn-success btn-lg btn-block button-save-loader" disabled="disabled">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Загрузка...
            </button>
            <button type="button"
                class="btn btn-success btn-lg btn-block btn-primary button-receipt-print"
                data-href="{{ path('app_receipt_receiptprint') }}"
                data-order-id=""
            >
                Распечатать
            </button>
        </div>
    </div>
    {{ form_end(form_receipt) }}
{% endblock %}