<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Договор № {{ receipt.orderId }}</title>

    <link rel="shortcut icon" href="{{ asset('build/img/icon/favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/img/icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/img/icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/img/icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/img/icon/site.webmanifest') }}">

    <style>
        @media print {
            body{
                width: 21cm;
                height: 29.7cm;
                padding-left: 5mm;
                padding-right: 5mm;
            }
        }
        .header-text {
            font-weight: bold;
            text-align: center;
        }
        .header-subtext {
            font-size: 4.0mm;
            text-align: center;
        }
        .header-subsubtext {
            font-weight: bold;
            text-align: center;
            padding-top: 5mm;
            padding-bottom: 2mm;
        }
        .header-left-text {
            vertical-align: top;
        }
        .header-left-text img {
            width: 30mm;
        }
        .header-right-text {
            font-size: 1cm;
            text-align: center;
            font-weight: bold;
            vertical-align: top;
        }
        .body-text-left {
            text-align: right;
            padding: 2mm;
            font-weight: bold;
        }
        .body-text-right {
            padding: 2mm;
        }
        .border-bottom-right {
            border-bottom: 0.1mm solid #000;
            border-right: 0.1mm solid #000;
        }
        .border-top {
            border-top: 0.1mm solid #000;
        }
        .border-left {
            border-left: 0.1mm solid #000;
        }
        .policy {
            font-size: 3.0mm;
        }
    </style>
</head>
<body>

<table align="center" cellspacing="0" cellpadding="0">
    <tr>
        <td rowspan="3" class="header-left-text">
            <img src="{{ asset('build/img/icon-repair-print.png') }}" alt="icon repair">
        </td>
        <td colspan="3" class="header-text">
            <div>Пункт приема в ремонт радиотехнических средств связи</div>
            <div>ИП Кузнецова</div>
        </td>
        <td rowspan="3" class="header-right-text">
        </td>
    </tr>
    <tr>
        <td colspan="3" class="header-subtext">
            г.Кемерово, пр.Ленинградский 21, email:kuztg69@mail.ru , тел. 89059499111. Время работы с 10.00 до 20.00 (понедельник–пятница), суббота: с 10 до 18.00, воскресение-выходной
        </td>
    </tr>
    <tr>
        <td colspan="3" class="header-subsubtext">
            Договор на оказание платных услуг № {{ receipt.orderId }} от {{ receipt.orderDate|date('d.m.Y') }}
        </td>
    </tr>
    <tr class="border-bottom">
        <td class="body-text-left border-bottom-right border-top border-left">
            Клиент
        </td>
        <td colspan="4" class="body-text-right border-bottom-right border-top">
            {{ receipt.deviceOwner }}
        </td>
    </tr>
    <tr>
        <td class="body-text-left border-bottom-right border-left">
            Контактные данные
        </td>
        <td colspan="4" class="body-text-right border-bottom-right">
            {% if receipt.deviceOwnerPhone %}
                <span>&#9990; {{ receipt.deviceOwnerPhone }} </span>
            {% endif %}
            {% if receipt.deviceOwnerAddress %}
                <span>&#9998; {{ receipt.deviceOwnerAddress }} </span>
            {% endif %}
            {% if receipt.deviceOwnerEmail %}
                <span>&#9993; {{ receipt.deviceOwnerEmail }} </span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="body-text-left border-bottom-right border-left">
            Оборудование
        </td>
        <td colspan="4" class="body-text-right border-bottom-right">
            <div>
                {{ receipt.deviceList.0.typeDevice }} - {{ receipt.deviceList.0.brand }} {{ receipt.deviceList.0.model }}
            </div>
            <div>
                {% if receipt.deviceList.0.imei and receipt.deviceList.0.serialNumber %}
                    IMEI/SN: {{ receipt.deviceList.0.imei }} / {{ receipt.deviceList.0.serialNumber }}
                {% elseif receipt.deviceList.0.imei %}
                    IMEI: {{ receipt.deviceList.0.imei }}
                {% elseif receipt.deviceList.0.serialNumber %}
                    SN: {{ receipt.deviceList.0.serialNumber }}
                {% endif %}
            </div>
        </td>
    </tr>

    {% if receipt.deviceList|slice(1) is not empty %}
        <tr>
            <td rowspan="{{ receipt.deviceList|slice(1)|length + 1 }}" class="body-text-left border-bottom-right border-left">
                Комплектация
            </td>
            <td class="body-text-right border-bottom-right">
                <b>Название</b>
            </td>
            <td class="body-text-right border-bottom-right">
                <b>Кол-во</b>
            </td>
            <td colspan="2" class="body-text-right border-bottom-right">
                <b>IMEI/Серийный номер</b>
            </td>
        </tr>
    {% endif %}
    {% for device in receipt.deviceList|slice(1) %}
        <tr>
            <td class="body-text-right border-bottom-right">
                {{ device.typeDevice }} - {{ device.brand }} {{ device.model ?? null }}
            </td>
            <td class="body-text-right border-bottom-right">
                1
            </td>
            <td colspan="2" class="body-text-right border-bottom-right">
                {% if device.imei and device.serialNumber %}
                    IMEI/SN: {{ device.imei }} / {{ device.serialNumber }}
                {% elseif device.imei %}
                    IMEI: {{ device.imei }}
                {% elseif device.serialNumber %}
                    SN: {{ device.serialNumber }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td class="body-text-left border-bottom-right border-left">
            Заявленная неисправность со слов клиента
        </td>
        <td colspan="4" class="body-text-right border-bottom-right">
            {{ receipt.defect }}
        </td>
    </tr>
    <tr>
        <td class="body-text-left border-bottom-right border-left">
            Аппарат на момент приема в ремонт
        </td>
        <td colspan="4" class="body-text-right border-bottom-right">
            {% for preliminarily in receipt.preliminarilyList %}
                {{ preliminarily|trans }}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td class="body-text-left border-bottom-right border-left">
            Пароль или графический ключ
        </td>
        <td colspan="4" class="body-text-right border-bottom-right">
            {{ receipt.deviceCode }}
        </td>
    </tr>
    <tr>
        <td class="body-text-left border-bottom-right border-left">
            Внешнее состояние
        </td>
        <td colspan="4" class="body-text-right border-bottom-right">
            {{ receipt.devicePreview }}
        </td>
    </tr>
    <tr>
        <td class="body-text-left border-bottom-right border-left">
            Стоимость ремонта
        </td>
        <td colspan="4" class="body-text-right border-bottom-right">
            {% if receipt.prePrice is not empty %}
                {{ receipt.prePrice }} руб.
            {% endif %}
        </td>
    </tr>
</table>

<ul class="policy">
    <li>
        Аппарат с согласия Клиента принимается в ремонт/на диагностику без разборки и предварительной проверки на, возможно, имеющие место неисправности, не указанные в квитанции, являющейся неотемлемой частью данного Договора.
    </li>
    <li>
        Исполнитель не несет ответственности, если после разборки, при диагностике/ремонте, состояние аппарата ухудшится, из-за последствий нарушения Заказчиком правил эксплуатации аппарата(воздействие жидкости, механические повреждения и т.п.)
    </li>
    <li>
        Аппараты принимаются на ремонт/диагностику без сим карт и карт памяти, а также без аксессуаров(гарнитура, зарядное устройство, кабели, чехлы и пр.)кроме случаев, когда это необходимо для выполнения ремонта или диагностики. Такой случай фиксируется в квитанции дополнительно. Исполнитель не несет ответственности за сохранность перечисленных устройств, при отсутствии соответствующей записи.
    </li>
    <li>
        Исполнитель обязуется произвести диагностику и ремонт исключительно заявленной Заказчиком неисправности, в случае отсутствия запчастей, материалов, тех.документации Исполнитель вправе отказаться от проведения ремонта.
    </li>
    <li>
        В результате проведения ремонта возможна частичная или полная потеря содержимого памяти аппарата.
    </li>
    <li>
        Аппараты, невостребованные в течении 2х месяцев, могут быть реализованы в установленном законом порядке(Правила быт. обслуживания в РФ, глава 5, пункт 15).
    </li>
    <li>
        Перед началом работы обговариваются только приблизительная стоимость и срок ремонта. Они могут быть пересмотрены в случаях, если потребуются дополнительные работы и материалы для устранения заявленной неисправности или при обнаружении Исполнителем дефектов, не указанных Заказчиком. В случае отказа Заказчик оплачивает стоимость уже выполненных работ, либо стоимость диагностики.
    </li>
    <li>
        Гарантия на выполненные работы составляет 30 дней.
    </li>
    <li>
        Аппарат не подлежит гарантийному обслуживанию в следующих случаях:
        <ul>
            <li>Наличие повреждений, которые появились при пользовании аппаратом после ремонта</li>
            <li>Обнаружение внутри аппарата следов жидкости</li>
            <li>Повреждение аппарата, вызванное скачками напряжения в сети</li>
            <li>Обнаружение следов вскрытия вне мастерской</li>
        </ul>
    </li>
    <li>
        Гарантия не распространяется на:
        <ul>
            <li>Ремонт аппаратов с попаданием влаги</li>
            <li>Ремонт аппаратов на программном уровне</li>
        </ul>
    </li>
</ul>
<table>
    <tr>
        <td colspan="3">
            Сдавая свой аппарат в ремонт, Заказчик соглашается с перечисленными условиями, и несет ответственность за достоверность информации, указанной в данном договоре.
        </td>
    </tr>
    <tr>
        <td colspan="3">
            С комплектацией и описанием неисправностей, с условиями обслуживания согласен:
        </td>
    </tr>
    <tr>
        <td>
            Аппарат сдал
        </td>
        <td>
            Аппарат принял
        </td>
        <td>
            Аппарат выдал
        </td>
    </tr>
    <tr>
        <td>
            Фамилия, роспись:____________________
        </td>
        <td>
            Фамилия, роспись:____________________
        </td>
        <td>
            Фамилия, роспись:____________________
        </td>
    </tr>
</table>

<script>
    setTimeout(function () {
        window.print();
    }, 500);
    window.onfocus = function () {
        setTimeout(function () {
            window.close();
        }, 500);
    }
</script>
</body>
</html>
