<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Договор № {{ receipt.orderId }}</title>

    <link rel="shortcut icon" href="{{ asset('build/img/icon/favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/img/icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/img/icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/img/icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/img/icon/site.webmanifest') }}">

    <style>
        @media print {
            body{
                width: 21cm;
                height: 29.7cm;
                padding-left: 5mm;
                padding-right: 5mm;
            }
        }
        .header-text {
            font-weight: bold;
            text-align: center;
        }
        .header-subtext {
            font-size: 4.0mm;
            text-align: center;
        }
        .header-subsubtext {
            font-weight: bold;
            text-align: center;
            padding-top: 5mm;
            padding-bottom: 2mm;
        }
        .header-left-text {
            vertical-align: top;
        }
        .header-left-text img {
            width: 30mm;
        }
        .header-right-text {
            font-size: 1cm;
            text-align: center;
            font-weight: bold;
            vertical-align: top;
        }
        .body-text-left {
            text-align: right;
            padding: 2mm;
            font-weight: bold;
        }
        .body-text-right {
            padding: 2mm;
        }
        .border-bottom-right {
            border-bottom: 0.1mm solid #000;
            border-right: 0.1mm solid #000;
        }
        .border-top {
            border-top: 0.1mm solid #000;
        }
        .border-left {
            border-left: 0.1mm solid #000;
        }
    </style>
</head>
<body>

<table align="center" cellspacing="0" cellpadding="0">
    <tr>
        <td rowspan="3" class="header-left-text">
            <img src="{{ asset('build/img/icon-repair-print.png') }}" alt="icon repair">
        </td>
        <td colspan="3" class="header-text">
            <div>Пункт приема в ремонт радиотехнических средств связи</div>
            <div>ИП Кузнецова</div>
        </td>
        <td rowspan="3" class="header-right-text">
        </td>
    </tr>
    <tr>
        <td colspan="3" class="header-subtext">
            г.Кемерово, пр.Ленинградский 21, email:kuztg69@mail.ru , тел. 89059499111. Время работы с 10.00 до 20.00 (понедельник–пятница), суббота: с 10 до 18.00, воскресение-выходной
        </td>
    </tr>
    <tr>
        <td colspan="3" class="header-subsubtext">
            Акт выполненных работ № {{ receipt.orderId }} от {{ receipt.orderDate|date('d.m.Y') }}
        </td>
    </tr>
    <tr class="border-bottom">
        <td class="body-text-left border-bottom-right border-top border-left">
            Выполненные работы
        </td>
        <td colspan="4" class="body-text-right border-bottom-right border-top">
            {{ receipt.workPerformed }}
        </td>
    </tr>
    <tr>
        <td class="body-text-left border-bottom-right border-left">
            Итоговая стоимость ремонта
        </td>
        <td colspan="4" class="body-text-right border-bottom-right">
            {{ receipt.priceRepair }}
        </td>
    </tr>
</table>

<script>
    setTimeout(function () {
        window.print();
    }, 500);
    window.onfocus = function () {
        setTimeout(function () {
            window.close();
        }, 500);
    }
</script>
</body>
</html>
