{% extends 'Admin/base.html.twig' %}

{% block body_class %}page-repairer{% endblock %}

{% block page_body %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(search_receipt_form) }}
                        <h3 class="card-title border-bottom pb-2">Номер квитанции</h3>
                        {{ form_row(search_receipt_form.orderId) }}
                        <button type="submit" class="btn btn-lg btn-block btn-primary button-search">
                            Поискать
                        </button>
                        <button type="button"
                                class="btn btn-lg btn-block btn-primary button-search-loader"
                                disabled="disabled"
                                style="display: none"
                        >
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Загрузка...
                        </button>
                    {{ form_end(search_receipt_form) }}

                    {% if receipt.updatedAt is defined %}
                        <small class="text-muted receipt-ago"
                               data-callback="{{ path('app_repairer_receiptago') }}"
                               data-interval="{{ receipt_updated_at_ago_interval }}"
                        >
                            Последние изменение квитанции было <span class="text-ago">{{ receipt.updatedAt|ago }}</span>
                        </small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if receipt is not empty %}
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h3>{{ receipt.deviceList.0.typeDevice }}</h3>
                            {{ receipt.deviceList.0.brand }} {{ receipt.deviceList.0.model }}
                        </div>
                        <hr>

                        <div>
                            <h3>Предварительно</h3>
                            {% for preliminarily in receipt.preliminarilyList %}
                                <div>{{ preliminarily|trans }}</div>
                            {% endfor %}
                        </div>
                        <hr>

                        <div>
                            <h3>Дефект</h3>
                            {{ receipt.defect }}
                        </div>
                        <hr>

                        <div>
                            <h3>Внешнее состояние</h3>
                            {{ receipt.devicePreview }}
                        </div>

                        {% if receipt.receiptStatus == constant('App\\Enum\\ReceiptStatusEnum::GUARANTEE_RETURN') %}
                            <hr>
                            <div>
                                <h3>
                                    <span class="badge badge-pill badge-warning">Гарантийный ремонт</span>
                                    Возврат оформлен {{ receipt.guaranteeReturnDate|date('d.m.Y') }}
                                </h3>
                                {{ receipt.guaranteeReturnDescription }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="tab-regular">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="home-tab-justify" data-toggle="tab" href="#home-justify" role="tab" aria-controls="home" aria-selected="false">Основное</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-justify" data-toggle="tab" href="#profile-justify" role="tab" aria-controls="profile" aria-selected="true">Дополнительно</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="home-justify" role="tabpanel" aria-labelledby="home-tab-justify">
                            <div>
                                <h3>Владелец</h3>
                                {{ receipt.deviceOwner }}
                            </div>
                            <hr>

                            <div>
                                <h3>Код доступа</h3>
                                {{ receipt.deviceCode ?? 'Нет данных' }}
                            </div>
                            <hr>

                            <div>
                                <h3>Оговоренная стоимость</h3>
                                {{ receipt.prePrice ?? 'Нет данных' }}
                            </div>
                            <hr>

                            <div>
                                <h3>Контактные данные владельца</h3>
                                <div>{{ receipt.deviceOwnerPhone ?? null }}</div>
                                <div>{{ receipt.deviceOwnerAddress ?? null }}</div>
                                <div>{{ receipt.deviceOwnerEmail ?? null }}</div>
                                {% if receipt.deviceOwnerPhone is null and receipt.deviceOwnerAddress is null and receipt.deviceOwnerEmail is null %}
                                    <div>Нет данных</div>
                                {% endif %}
                            </div>

                        </div>
                        <div class="tab-pane fade" id="profile-justify" role="tabpanel" aria-labelledby="profile-tab-justify">
                            {% for device in receipt.deviceList %}
                                <div>
                                    <h3>{{ device.typeDevice }}</h3>
                                    <div>{{ device.brand }} {{ device.model ?? null }}</div>
                                    <div>{{ device.imei ? 'IMEI: ' ~ device.imei : null }}</div>
                                    <div>{{ device.serialNumber ? 'SN: ' ~ device.serialNumber : null }}</div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if repairer_work_form is not empty %}
            {{ form_start(repairer_work_form) }}
            <div class="row mt-4">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>{{ receipt.repairerName ?? 'Ремонтом не занимались' }}</h3>
                            </div>
                            <div class="card-body">
                                {{ form_row(repairer_work_form.repairResult) }}
                                {{ form_row(repairer_work_form.workPerformed) }}
                                {{ form_row(repairer_work_form.workDescription) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group input-group-sm mb-3">
                                        {{ form_widget(repairer_work_form.payRepairer) }}
                                        <div class="input-group-append"><span class="input-group-text">руб.</span></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm mb-3">
                                        {{ form_widget(repairer_work_form.priceRepair) }}
                                        <div class="input-group-append"><span class="input-group-text">руб.</span></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm mb-3">
                                        {{ form_widget(repairer_work_form.priceSparePart) }}
                                        <div class="input-group-append"><span class="input-group-text">руб.</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        {{ form_widget(repairer_work_form.save) }}
                        <button type="submit" class="btn btn-success btn-lg btn-block button-save-loader" disabled="disabled">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Загрузка...
                        </button>
                    </div>
            </div>
            {{ form_end(repairer_work_form) }}
        {% else %}
            <div class="row mt-4">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>{{ receipt.repairerName ?? 'Ремонтом не занимались' }}</h3>
                            {% if receipt.repairDate %}
                                <div>Заключение по ремонту было объявлено {{ receipt.repairDate|date('d.m.Y') }}</div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div>
                                <h3>Статус ремонта</h3>
                                {{ receipt_status|trans }}
                            </div>
                            <hr>

                            <div>
                                <h3>Проведенные работы</h3>
                                {{ receipt.workPerformed }}
                            </div>
                            <hr>

                            <div>
                                <h3>Дополнительная информация</h3>
                                {{ receipt.workDescription }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h3>Вознаграждение мастера</h3>
                                {{ receipt.payRepairer ? receipt.payRepairer ~ ' руб.' : 'Нет данных' }}
                            </div>
                            <hr>

                            <div>
                                <h3>Стоимость ремонта</h3>
                                {{ receipt.priceRepair ? receipt.priceRepair ~ ' руб.' : 'Нет данных' }}
                            </div>
                            <hr>

                            <div>
                                <h3>Стоимость запчасти</h3>
                                {{ receipt.priceSparePart ? receipt.priceSparePart ~ ' руб.' : 'Нет данных' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}