{% extends 'Admin/base.html.twig' %}

{% block body_class %}page-search{% endblock %}

{% block page_body %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(search_receipt_form) }}
                        <h3 class="card-title border-bottom pb-2">Номер квитанции</h3>
                        {{ form_row(search_receipt_form.orderId) }}
                        <button type="submit" class="btn btn-lg btn-block btn-primary button-search">
                            Поискать
                        </button>
                        <button type="button"
                                class="btn btn-lg btn-block btn-primary button-search-loader"
                                disabled="disabled"
                                style="display: none"
                        >
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Загрузка...
                        </button>
                    {{ form_end(search_receipt_form) }}

                    {% if receipt.updatedAt is defined %}
                        <small class="text-muted receipt-ago"
                               data-callback="{{ path('app_search_receiptago') }}"
                               data-interval="{{ receipt_updated_at_ago_interval }}"
                        >
                            Последние изменение квитанции было <span class="text-ago">{{ receipt.updatedAt|ago }}</span>
                        </small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if receipt is empty %}
        <div class="card">
            <h5 class="card-header">Поиск по аппарату, проведенным работам и неисправности</h5>
            <div class="card-body">
                <table id="table_smart_search" class="table table-striped dataTable" data-callback="{{ path('app_search_smarttable') }}">
                    <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Номер квитанции</th>
                        <th>Аппарат</th>
                        <th>Дефект</th>
                        <th>Проведенные работы</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ФИО</th>
                        <th>Номер квитанции</th>
                        <th>Аппарат</th>
                        <th>Дефект</th>
                        <th>Проведенные работы</th>
                        <th>Действия</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    {% endif %}

    {% if receipt is not empty %}
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h3>{{ receipt.deviceList.0.typeDevice }}</h3>
                            {{ receipt.deviceList.0.brand }} {{ receipt.deviceList.0.model }}
                        </div>
                        <hr>

                        <div>
                            <h3>Предварительно</h3>
                            {% for preliminarily in receipt.preliminarilyList %}
                                <div>{{ preliminarily|trans }}</div>
                            {% endfor %}
                        </div>
                        <hr>

                        <div>
                            <h3>Дефект</h3>
                            {{ receipt.defect }}
                        </div>
                        <hr>

                        <div>
                            <h3>Внешнее состояние</h3>
                            {{ receipt.devicePreview }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="tab-regular">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="home-tab-justify" data-toggle="tab" href="#home-justify" role="tab" aria-controls="home" aria-selected="false">Основное</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-justify" data-toggle="tab" href="#profile-justify" role="tab" aria-controls="profile" aria-selected="true">Дополнительно</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="home-justify" role="tabpanel" aria-labelledby="home-tab-justify">
                            <div>
                                <h3>Владелец</h3>
                                {{ receipt.deviceOwner }}
                            </div>
                            <hr>

                            <div>
                                <h3>Код доступа</h3>
                                {{ receipt.deviceCode ?? 'Нет данных' }}
                            </div>
                            <hr>

                            <div>
                                <h3>Оговоренная стоимость</h3>
                                {{ receipt.prePrice ?? 'Нет данных' }}
                            </div>
                            <hr>

                            <div>
                                <h3>Контактные данные владельца</h3>
                                <div>{{ receipt.deviceOwnerPhone ?? null }}</div>
                                <div>{{ receipt.deviceOwnerAddress ?? null }}</div>
                                <div>{{ receipt.deviceOwnerEmail ?? null }}</div>
                                {% if receipt.deviceOwnerPhone is null and receipt.deviceOwnerAddress is null and receipt.deviceOwnerEmail is null %}
                                    <div>Нет данных</div>
                                {% endif %}
                            </div>

                        </div>
                        <div class="tab-pane fade" id="profile-justify" role="tabpanel" aria-labelledby="profile-tab-justify">
                            {% for device in receipt.deviceList %}
                                <div>
                                    <h3>{{ device.typeDevice }}</h3>
                                    <div>{{ device.brand }} {{ device.model ?? null }}</div>
                                    <div>{{ device.imei ? 'IMEI: ' ~ device.imei : null }}</div>
                                    <div>{{ device.serialNumber ? 'SN: ' ~ device.serialNumber : null }}</div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>{{ receipt.repairerName ?? 'Мастер не назначен' }}</h3>
                        {% if receipt.repairDate %}
                            <div>Заключение по ремонту было объявлено {{ receipt.repairDate|date('d.m.Y') }}</div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div>
                            <h3>Статус ремонта</h3>
                            {{ receipt_status|trans }}
                        </div>
                        <hr>

                        <div>
                            <h3>Проведенные работы</h3>
                            {{ receipt.workPerformed ?? 'Нет данных' }}
                        </div>
                        <hr>

                        <div>
                            <h3>Дополнительная информация</h3>
                            {{ receipt.workDescription ?? 'Нет данных' }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h3>Вознаграждение мастера</h3>
                            {{ receipt.payRepairer ? receipt.payRepairer ~ ' руб.' : 'Нет данных' }}
                        </div>
                        <hr>

                        <div>
                            <h3>Стоимость ремонта</h3>
                            {{ receipt.priceRepair ? receipt.priceRepair ~ ' руб.' : 'Нет данных' }}
                        </div>
                        <hr>

                        <div>
                            <h3>Стоимость запчасти</h3>
                            {{ receipt.priceSparePart ? receipt.priceSparePart ~ ' руб.' : 'Нет данных' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h3>Аппарат принял(а)</h3>
                            {{ receipt.orderDate|date('d.m.Y') }} ({{ receipt.creatorName }})
                        </div>
                        <hr>

                        <div>
                            <h3>Аппарат ремонтировал(а)</h3>
                            {% if receipt.repairerName %}
                                {{ receipt.repairDate|date('d.m.Y') }} ({{ receipt.repairerName }})
                            {% else %}
                                Нет данных
                            {% endif %}
                        </div>
                        <hr>

                        <div>
                            <h3>Аппарат отдал(а)</h3>
                            {% if receipt.returnerName %}
                                {{ receipt.returnDate|date('d.m.Y') }} ({{ receipt.returnerName }})
                            {% else %}
                                Нет данных
                            {% endif %}
                        </div>
                        <hr>

                        <div>
                            <h3>Последний, кто вносил изменения в квитанцию</h3>
                            {% if receipt.lastEditName %}
                                {{ receipt.updatedAt|date('d.m.Y') }} ({{ receipt.lastEditName }})
                            {% else %}
                                Нет данных
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    {% if guarantee_return_form %}
                        <div class="card-header">
                            Офоромить возврат
                        </div>
                        <div class="card-body">
                            {{ form_start(guarantee_return_form) }}
                            {{ form_row(guarantee_return_form.guaranteeReturnDescription) }}
                            {{ form_widget(guarantee_return_form.save) }}
                            <button type="submit" class="btn btn-success btn-lg btn-block button-guarantee-return-save-loader" disabled="disabled">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Загрузка...
                            </button>
                            {{ form_end(guarantee_return_form) }}
                        </div>
                    {% elseif receipt.receiptStatus == constant('App\\Enum\\ReceiptStatusEnum::GUARANTEE_RETURN') %}
                        <div class="card-header">
                            <h3>Возврат оформлен {{ receipt.guaranteeReturnDate|date('d.m.Y') }}</h3>
                        </div>
                        <div class="card-body">
                            <h3>Комметарий к возврату</h3>
                            {{ receipt.guaranteeReturnDescription }}
                        </div>
                    {% else %}
                        <div class="card-body">
                            <h3>Аппарат не находится на гарантийном ремонте</h3>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <a href="{{ path('app_receipt_receiptprint', {'orderId': order_id}) }}"
                   target="_blank"
                   class="btn btn-success btn-lg btn-block button-print-receipt"
                >
                    Распечатать квитанцию
                </a>
                <a href="{{ path('app_receipt_repairerworkprint', {'orderId': order_id}) }}"
                   target="_blank"
                   class="btn btn-success btn-lg btn-block button-print-work"
                >
                    Распечатать проведенные работы
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}