{% extends 'Admin/base.html.twig' %}

{% block body_class %}page-statistic{% endblock %}

{% block page_body %}
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card card-efficiency-repairer">
                <div class="card-header">
                    <h5><i class="fas fa-chart-bar"></i> Прогресс з/п</h5>
                </div>
                <div class="card-body card-body-efficiency-repairer-chart">
                    <div id="efficiency_repairer_chart" data-callback="{{ path('app_statistic_efficiencybar') }}"></div>
                </div>
                <div class="card-body card-body-status d-flex align-items-center justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Загрузка...</span>
                    </div>
                    <span class="badge badge-danger error-load">Ошибка загрузки</span>
                </div>
            </div>

            <div class="card card-calculate-repairer-pay">
                <div class="card-header">
                    <h5><i class="fas fa-coins"></i> Подсчет з/п</h5>
                    <div class="text-muted">В расчет входят квитанции только если мастер пометил результат ремонта.</div>
                </div>
                <div class="card-body">
                    {{ form(statistic_repairer_pay_form) }}
                    <ul class="list-group">
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-lg btn-block btn-primary button-calculate-repairer-pay">
                        Рассчитать
                    </button>
                    <button type="button"
                            class="btn btn-lg btn-block btn-primary button-loader"
                            disabled="disabled"
                    >
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Загрузка...
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card card-net-profit">
                <div class="card-header">
                    <h5><i class="fas fa-chart-bar"></i> Прогресс чистой прибыли за год</h5>
                </div>
                <div class="card-body card-body-net-profit-chart">
                    <div id="net_profit_chart" data-callback="{{ path('app_statistic_netprofitchart') }}"></div>
                </div>
                <div class="card-body card-body-status d-flex align-items-center justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Загрузка...</span>
                    </div>
                    <span class="badge badge-danger error-load">Ошибка загрузки</span>
                </div>
            </div>

            <div class="card card-calculate-net-profit">
                <div class="card-header">
                    <h5><i class="fas fa-coins"></i> Подсчет чистой прибыли</h5>
                    <div class="text-muted">В расчет входят квитанции только если клиент оплатил ремонт.</div>
                </div>
                <div class="card-body">
                    {{ form(statistic_net_profit_form) }}
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-lg btn-block btn-primary button-calculate-net-profit">
                        Рассчитать
                    </button>
                    <button type="button"
                            class="btn btn-lg btn-block btn-primary button-loader"
                            disabled="disabled"
                    >
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Загрузка...
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card card-cost-spare-part">
                <div class="card-header">
                    <h5><i class="fas fa-chart-bar"></i> График затрат на запчасти</h5>
                </div>
                <div class="card-body card-body-cost-spare-part-chart">
                    <div id="cost_spare_part_chart" data-callback="{{ path('app_statistic_costsparepartchart') }}"></div>
                </div>
                <div class="card-body card-body-status d-flex align-items-center justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Загрузка...</span>
                    </div>
                    <span class="badge badge-danger error-load">Ошибка загрузки</span>
                </div>
            </div>

            <div class="card card-calculate-cost-spare-part">
                <div class="card-header">
                    <h5><i class="fas fa-coins"></i> Подсчет затрат на запчасти</h5>
                    <div class="text-muted">В расчет входят квитанции только если мастер пометил результат ремонта.</div>
                </div>
                <div class="card-body">
                    {{ form(statistic_cost_spare_part_form) }}
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-lg btn-block btn-primary button-calculate-cost-spare-part">
                        Рассчитать
                    </button>
                    <button type="button"
                            class="btn btn-lg btn-block btn-primary button-loader"
                            disabled="disabled"
                    >
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Загрузка...
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card card-total-price">
                <div class="card-header">
                    <h5><i class="fas fa-chart-bar"></i> График общей стоимости ремонтов</h5>
                </div>
                <div class="card-body card-body-total-price-chart">
                    <div id="total_price_chart" data-callback="{{ path('app_statistic_totalpricechart') }}"></div>
                </div>
                <div class="card-body card-body-status d-flex align-items-center justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Загрузка...</span>
                    </div>
                    <span class="badge badge-danger error-load">Ошибка загрузки</span>
                </div>
            </div>

            <div class="card card-calculate-total-price">
                <div class="card-header">
                    <h5><i class="fas fa-coins"></i> Подсчет общей стоимости</h5>
                    <div class="text-muted">В расчет входят квитанции только если клиент оплатил ремонт.</div>
                </div>
                <div class="card-body">
                    {{ form(statistic_total_price_form) }}
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-lg btn-block btn-primary button-calculate-total-price">
                        Рассчитать
                    </button>
                    <button type="button"
                            class="btn btn-lg btn-block btn-primary button-loader"
                            disabled="disabled"
                    >
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Загрузка...
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}