body select.form-control {
    background-image: url(../../vendor/puikinsh/concept/assets/images/down-arrow.png);
}
.chosen-container-single a.chosen-single {
    height: 35px;
    line-height: 30px;
}
div.typeahead__container ::-webkit-input-placeholder {
    opacity: 1;
    font-size: 14px;
}
div.chosen-container {
    width: 100% !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.btn-primary.disabled:hover, .btn-primary:disabled:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: not-allowed;
}
.btn-success.disabled:hover, .btn-success:disabled:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    cursor: not-allowed;
}
.btn-danger.disabled:hover, .btn-danger:disabled:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    cursor: not-allowed;
}
.page-receipt .button-save-loader {
    display: none;
}
.page-receipt .button-receipt-print {
    display: none;
}
input[type=radio].form-check-input {
    display: block;
}
.page-repairer .button-save-loader {
    display: none;
    margin-top: 0;
}
.button-login-loader {
    display: none;
    margin-top: 0;
}
.page-search button.button-guarantee-return-save-loader {
    display: none;
    margin-top: 0;
}
.page-edit .button-save-loader {
    display: none;
    margin-top: 0;
}

.page-statistic .card-efficiency-repairer .card-body-status,
.page-statistic .card-net-profit .card-body-status,
.page-statistic .card-cost-spare-part .card-body-status,
.page-statistic .card-total-price .card-body-status {
    min-height: 360px;
}
.page-statistic .card-efficiency-repairer .card-body-efficiency-repairer-chart,
.page-statistic .card-net-profit .card-body-net-profit-chart,
.page-statistic .card-cost-spare-part .card-body-cost-spare-part-chart,
.page-statistic .card-total-price .card-body-total-price-chart {
    display: none;
}
.page-statistic .card-efficiency-repairer .card-body-status .error-load,
.page-statistic .card-net-profit .card-body-status .error-load,
.page-statistic .card-cost-spare-part .card-body-status .error-load,
.page-statistic .card-total-price  .card-body-status .error-load {
    display: none;
}
.page-statistic .card-calculate-net-profit .button-loader,
.page-statistic .card-calculate-cost-spare-part .button-loader,
.page-statistic .card-calculate-repairer-pay .button-loader,
.page-statistic .card-calculate-total-price .button-loader {
    display: none;
    margin-top: 0;
}
.page-administration .card-user-list .button-loader,
.page-administration .card-create-user .button-loader {
    display: none;
    margin-top: 0;
}
.page-administration-edit-user .card-edit-user .button-loader {
    display: none;
    margin-top: 0;
}
